.head-geral {
    background-color: #eceeef;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.logo-img {
    width: 80px;  
}

