/*CSS PADRÃO DO FOOTER - BIZURADO DEV*/
.footer {
    display: flex;
    flex-direction: column;;
    justify-content: center;
    text-align: center;  
    
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1d031c;
    font-size: 17px;   
}

.footerLinhaA {
    font-weight: 300;
    color: rgb(207, 250, 205);
}

.footerLinhaB {
    font-weight: 200;
    color: rgb(228, 225, 225);
}


