/*RESET A MARGEM PADRÃO DO NAVEGADOR*/
* {
    margin: 0 0 0 0; 
    font-family:'roboto';
}

/*PADRONIZA OS TÍTULOS EM GERAL*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 800;  
    padding-bottom: 20px; 
           
}

@font-face {
    font-family:'roboto';
    src: url('../assets/fonts/roboto.ttf');
}



    




